<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Pdf Application</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/verifystyle.css">
  <style>
    input,
    select,
    label {
      font: inherit;
    }

    .fileTable.fileTable {
      display: table;
      table-layout: fixed;
    }

    .fileRow.fileRow {
      display: table-row;
    }

    .fileCell.fileCell {
      display: table-cell;
    }

    span.fileCell {
      width: 140px;
    }
  </style>
</head>

<body>

  <div class="login-box">

    <h2 style="color:white">Token Verification <i class="fa fa-id-card" aria-hidden="true"></i> </h2>



    <form id="sign-form" action="/verif/verifySignaturewithDate" method="post" enctype="multipart/form-data">
      <div class='fileTable'>
        <div class='fileRow'>
          <label for="file" class='fileCell' style='display:table-cell;color: white;'>Pdf_ </label>
          <span class='fileCell'></span>
          <input type="file" name="datePdf" id="datePdf" style='color: white;' class='fileCell'>
        </div>
      </div>
      <div>
        </br> </br>
        <input type="hidden" name="email" id='email' value='<%=email %>'>
        <input type="hidden" name="token" id='token' value='<%=token %>'>
        <div class="user-box">
          <input type="text" name="userEmail" balue="" placeholder="Enter Signer Email">
        </div>
        <div class="user-box">
          <input type="text" name="userToken" value="" id='userToken' placeholder="Enter Signer Token">
        </div>

    </form>

    <a href="javascript:{}" onclick="document.getElementById('sign-form').submit();">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Verify Signature 
    </a>

    <p>
      <% if(typeof result=='undefined' ){ %>
        <h1>result:</h1>

        <% } else if (result=="true" || result==true) { %>
          <h3 style="color:green">This Pdf is Signed <%= date %>  <i class="fa fa-check" aria-hidden="true"></i>
          </h3>
          <% } else { %>
            <h3  style="color:red">Wrong Signature  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </h3>
            <% } %>
    </p>
  </div>
</body>

</html>