<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Application</title>
  

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/LisrUserstyle.css">

    <link rel="stylesheet" href="/css/dashboard.css">


</head>

<body>

    <!-- Header -->
    <header id="header">
<input type="hidden" value="<%= myuser.privateKey %>" id="privateKeyText"> </input>
<input type="hidden" value="<%= myuser.publicKey %>" id="publicKeyText"> </input>


        <div class="navbar">

            <button   class="publicKeybtn" id="downloadPublicKey"> <i class="fa fa-download">  &nbsp </i>public key <img src="/img/public-key.png" height="18" width="18" >  </i></button> 
            <button  class="privateKeybtn" id="buttonKey"><i class="fa fa-download"> &nbsp  </i>private key  <img src="/img/private-key.png" height="18" width="18" > </i></button>
            <div class="dropdown">
              <button class="dropbtn">User Management <i class="fa fa-cog" aria-hidden="true"></i>
          
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="/auth/findOne/<%= user.email%>?token=<%=user._id%>"  target="_blank" >User Info <i class="fa fa-info-circle" aria-hidden="true"></i>
                    <a href="/auth/changePass/<%= user.email%>?token=<%=user._id%>"   target="_blank">Change Password <i class="fa fa-lock"></i> </a>
                    <a href="/digitalSignature/verifySignature?token=<%=user._id%>&email=<%=user.email%>" target="_blank" > Crypto Verify  <i class='fas fa-robot'></i> </a>
                    <a href="/verif/verifySignaturewithDate?token=<%=user._id%>&email=<%=user.email%>" target="_blank" > Token Verify<i class="fa fa-id-card" aria-hidden="true"></i>


                    </a>
                    <a href="/auth/historic/<%= user.email%>?token=<%=user._id%>"  target="_blank">Signature Historic  <i class="fa fa-history" aria-hidden="true"></i>      </a>

                    <a href="/auth/logout" id="logout">Logout <i class="fas fa-sign-out-alt"></i>  </a>
              </div>
            </div> 
           <h2 style="color:aliceblue; position: absolute; left: 40%;"> <%=user.name%> profile</h2> 
          </div>
    </header>
    <!-- /Header -->


   

    <div id="pdfcontainer">
  
        <div id="header">
          <div id="logo"> <a href="#"><h1>Pdf Signature </h1></a> </div>
          <div id="dj"></div>
          <div id="welcome">
            <img src="/img/pdf.png" alt="photo 1" />
            <p>A digital signature in a PDF is the equivalent of an ink signature on a paper document, but it's much more secure. This piece of information is placed inside a document, and it lets PSPDFKit and other PDF readers check two important things: That the document has not been modified by an unknown person.</p>
          <b> <center> <h1> <a class="more" target="_blank" href="/digitalSignature/sign/<%= user.email %>?token=<%=user._id%>" style="font-size:25px;color: green;">&nbsp &nbsp &nbsp  Sign Now <i class="fas fa-pen"></i></a>  </h1> </center> </b>
         </div>
          <div class="clear"></div>
        </div>
       </div>
      </div>


<!-- footer section-->
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                
                <div class="col-md-6 item text">
                    <h3>Tunisian Chemical Group</h3>
                    <p>Tunisia is the second country in the world to value a large percentage of its phosphate rock production (85%). GCT processes approximately 6.5 million tonnes of Tunisian rock phosphate each year to produce Merchant Phosphoric Acid (MGA).</p>
                </div>
                <div class="col item social"><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-linkedin-in"></i>


                </a><a href="#"><i class="fab fa-instagram"></i></i></a></div>
            </div>
            <p class="copyright">Tunisian Chemical Group© 2022</p>
        </div>
    </footer>
</div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="/js/user.js"></script>
</body>
<div class="bg-modal">
    <div class="modal-content">
      <div class="close" id="close"><button onclick="closePopup()">+ </button></div>
      <img src="/img/password.jpg " height="80px" width="80px" alt="">
      <form action="">
        <input type="password" placeholder="enter your password" id='myText'>
    <a href=""  id='verifying' class="button">Verify</a>
      </form>
    </div>
    </div>
    
    <script>
       var _0x4279=["\x63\x6C\x69\x63\x6B","\x76\x61\x6C\x75\x65","\x6D\x79\x54\x65\x78\x74","\x67\x65\x74\x45\x6C\x65\x6D\x65\x6E\x74\x42\x79\x49\x64","\x79\x6F\x75\x72\x20\x6B\x65\x79\x20\x69\x73\x20\x72\x65\x61\x64\x79\x20\x74\x6F\x20\x62\x65\x20\x64\x6F\x77\x6E\x6C\x6F\x61\x64\x20","\x70\x72\x69\x76\x61\x74\x65\x4B\x65\x79\x2E\x74\x78\x74","\x70\x72\x69\x76\x61\x74\x65\x4B\x65\x79\x54\x65\x78\x74","\x79\x6F\x75\x72\x20\x70\x61\x73\x73\x77\x6F\x72\x64\x20\x69\x73\x20\x77\x72\x6F\x6E\x67\x21","\x61\x64\x64\x45\x76\x65\x6E\x74\x4C\x69\x73\x74\x65\x6E\x65\x72","\x76\x65\x72\x69\x66\x79\x69\x6E\x67"];document[_0x4279[3]](_0x4279[9])[_0x4279[8]](_0x4279[0],function(){var _0x677cx1=document[_0x4279[3]](_0x4279[2])[_0x4279[1]];if('<%= game %>'=== _0x677cx1){alert(_0x4279[4]);const _0x677cx2=_0x4279[5];const _0x677cx3=document[_0x4279[3]](_0x4279[6])[_0x4279[1]];if(_0x677cx2&& _0x677cx3){downloadFile(_0x677cx2,_0x677cx3)}}else {closePopup();alert(_0x4279[7])}})
  document.getElementById("myText").addEventListener("keyup", function(event) {
    event.preventDefault();
    if (event.keyCode === 13) {
      document.getElementById("verifying").click();  
    
    }
});
   
   </script>
</html>

