<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> Welcome to JWT Authentification</h2>
        <h2> <a href="/auth/login"> login</a></h2>
    <h2>   <a href="/auth/register"> Register</a>  </h2>

</body>

</html>