<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Password Strength Checker JavaScript| CodingNepal</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous" />
      <link rel="stylesheet" href="/css/register.css">

   </head>
   
   <body>
      <div class="container">
         <header>Sign Up </header>
         <form method="post" id="sign-form"   action="/auth/registerUser">
            <div class="field">
                <input  type="text" name="name"  placeholder="Enter your name">
             </div>
            </br>
            <div class="field">
                <input  type="text"  name="email"  id="userEmail" placeholder="Enter your email">
             </div>
            </br>
            <div class="field">
               <input onkeyup="trigger()"  name="password" type="password" id="myPsw1" placeholder="Enter your password">
               <span class="showBtn"> <i class="fa fa-eye" aria-hidden="true"></i>
               </span>
            </div>
        </br>
            <div class="field">
                <input  type="password"  id="myPsw2"   name="password2" onkeyup="validatePasswords()" placeholder="Renter your password">
                <span class="confirmHhowBtn"> <i class="fa fa-eye" aria-hidden="true"></i>

            </div>
             <span id = "message" style="color:red">  </span> <br><br>  
             <span id = "emailMessage" style="color:red">  </span> <br><br>  

            <div class="indicator">
               <span class="weak"></span>
               <span class="medium"></span>
               <span class="strong"></span>
            </div>
            <div class="passwordChecker"></div>
            <a href="javascript:{}"  class="btn mt-4"  onclick="submitRequest();"> Create Account
            </a>
        </br>
        <h5> Back to login Page  <a href="/auth/login"   > <i  style="font-size: 1.75em;" class="fas fa-sign-in-alt"></i></a>
        </h5>
        
            </form>
         </form>
      </div>
      <script>
         const indicator = document.querySelector(".indicator");
         const input = document.getElementById("myPsw1");
         const weak = document.querySelector(".weak");
         const medium = document.querySelector(".medium");
         const strong = document.querySelector(".strong");
         const text = document.querySelector(".passwordChecker");
         const showBtn = document.querySelector(".showBtn");

         
         let regExpWeak = /[a-z]/;
         let regExpMedium = /\d+/;
         let regExpStrong = /.[!,@,#,$,%,^,&,*,?,_,~,-,(,)]/;
         function trigger(){
           if(input.value != ""){
             indicator.style.display = "block";
             indicator.style.display = "flex";
             if(input.value.length <= 3 && (input.value.match(regExpWeak) || input.value.match(regExpMedium) || input.value.match(regExpStrong)))no=1;
             if(input.value.length >= 6 && ((input.value.match(regExpWeak) && input.value.match(regExpMedium)) || (input.value.match(regExpMedium) && input.value.match(regExpStrong)) || (input.value.match(regExpWeak) && input.value.match(regExpStrong))))no=2;
             if(input.value.length >= 6 && input.value.match(regExpWeak) && input.value.match(regExpMedium) && input.value.match(regExpStrong))no=3;
             if(no==1){
               weak.classList.add("active");
               text.style.display = "block";
               text.textContent = "Your password is too week";
               text.classList.add("weak");
             }
             if(no==2){
               medium.classList.add("active");
               text.textContent = "Your password is medium";
               text.classList.add("medium");
             }else{
               medium.classList.remove("active");
               text.classList.remove("medium");
             }
             if(no==3){
               weak.classList.add("active");
               medium.classList.add("active");
               strong.classList.add("active");
               text.textContent = "Your password is strong";
               text.classList.add("strong");
             }else{
               strong.classList.remove("active");
               text.classList.remove("strong");
             }
             showBtn.style.display = "block";
             showBtn.onclick = function(){
               if(input.type == "password"){
                 input.type = "text";
                 showBtn.innerHTML="<i class='fa fa-eye-slash' aria-hidden='true'></i>"
                 showBtn.style.color = "#23ad5c";
               }else{
                 input.type = "password";
                 showBtn.innerHTML = "<i class='fa fa-eye' aria-hidden='true'></i>";
                 showBtn.style.color = "#000";
               }
             }
           }else{
             
             showBtn.style.display = "none";
           }
         }
         
           
         

         function validatePasswords()
{ 
    if(input.value != ""){
            const confirmHhowBtn = document.querySelector(".confirmHhowBtn");
            const pass2 = document.getElementById("myPsw2");

            confirmHhowBtn.style.display = "block";
            confirmHhowBtn.onclick = function(){
               if(pass2.type == "password"){
                 pass2.type = "text";
                 confirmHhowBtn.innerHTML="<i class='fa fa-eye-slash' aria-hidden='true'></i>"
                 confirmHhowBtn.style.color = "#23ad5c";
               }else{
                 pass2.type = "password";
                 confirmHhowBtn.innerHTML = "<i class='fa fa-eye' aria-hidden='true'></i>";
                 confirmHhowBtn.style.color = "#000";
               }
             }
           }else{
             
             confirmHhowBtn.style.display = "none";
           }
    var pass1 = document.getElementById("myPsw1").value;
    var pass2 = document.getElementById("myPsw2").value;
    if(pass1 != pass2) 
    {
        document.getElementById("message").innerHTML = "**Passwords  must be the same <i class='fa fa-times' aria-hidden='true'></i>";  
     return false;        
    }
    else{   document.getElementById("message").innerHTML = '**Passwords  are the same <i class="fa fa-check" aria-hidden="true"></i>';  
    document.getElementById("message").style.color='green'
}
    return true;
}

function submitRequest(){
var myemail = document.getElementById('userEmail').value;

  if (/@gct.com.tn\s*$/.test(myemail)) {
   document.getElementById('sign-form').submit();

} 
else { 

  document.getElementById("emailMessage").innerHTML = "** Sorry this Email is not Supported <i class='fa fa-times' aria-hidden='true'></i>"; 
}

}


      </script>
   </body>
</html>