<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DigiSign</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- =======================================================
  * Template Name: eStartup - v4.8.0
  * Template URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div id="logo">
        <h1><a href="index.html"><span>Digi</span>Sign</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about-us">About</a></li>
          <li><a class="nav-link scrollto" href="#features">Features</a></li>
          <li><a class="nav-link scrollto" href="#screenshots">Screenshots</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>

          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-in">
      <h1>Welcome to DigiSign</h1>
      <h2>Digital Signature Web Application </h2>
      <img src="/img/hero-img.png" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
      <a href="/auth/login" class="btn-get-started scrollto">Get Started</a>

  </section><!-- End Hero Section -->

  <main id="main">



    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us padd-section">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">

          <div class="col-md-5 col-lg-3">
            <img src="/img/about-img.png" alt="About" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-md-7 col-lg-5">
            <div class="about-content" data-aos="fade-left" data-aos-delay="100">

              <h2><span>DigiSign</span> Digital Signature Web App </h2>
              <p> Digi-sign or Digital signature is an efficient and legal way to get electronic documents signed
                quickly. Secure and trusted around the world, Digi-signs can replace a handwritten signature in many
                processes. Get started with digi-sign right now.</p>

              <ul class="list-unstyled">
                <li><i class="vi bi-chevron-right"></i>Trusted <i class="fas fa-handshake"></i></li>
                <li><i class="vi bi-chevron-right"></i>Easy to Use <i class="fa-solid fa-computer"></i></li>
                <li><i class="vi bi-chevron-right"></i>Creative Design <i class="fas fa-paint-brush"></i></li>
                <li><i class="vi bi-chevron-right"></i>Unlimited Features <i class="fas fa-infinity"></i></li>
                <li><i class="vi bi-chevron-right"></i>Cost-effective <i class="fas fa-money-bill-alt"></i> </li>


              </ul>

            </div>
          </div>

        </div>
      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
          <h2>Amazing Features.</h2>
          <p class="separator">features given by this web application.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">



          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="/img/svg/vector.svg" alt="img">
              <h4>Cryptography concept</h4>
              <p>Protect digital data and transform it into formats that cannot be recognized by unauthorized users.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="/img/svg/nodejs-seeklogo.com.svg" alt="img">
              <h4>Fast code execution</h4>
              <p>Node.js is extremely popular among the developers due to its speed</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="/img/svg/design-tool.svg" alt="img">
              <h4>easy to use</h4>
              <p>It's practical application that doesn't contain complex tools</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="/img/svg/paint-palette.svg" alt="img">
              <h4>Creative design</h4>
              <p>strong impression and amazing brand identity </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="/img/svg/asteroid.svg" alt="img">
              <h4>Free Updates</h4>
              <p>In case there is improvment uses won't pay for it</p>
            </div>
          </div>



          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="/img/svg/cloud-computing.svg" alt="img">
              <h4>Mongo DB and google Firebase support</h4>
              <p>These website can support both mongo db or google firestore database</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="/img/vecteezy.png" alt="img">
              <h4>Enhanced security</h4>
              <p>Elemenating big threats by some advanced technics</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="/img/svg/code.svg" alt="img">
              <h4>clean codes</h4>
              <p>Reader-focused development style that produces software that's easy to write, read and maintain. </p>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Features Section -->

    <!-- ======= Screenshots Section ======= -->
    <section id="screenshots" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
          <h2>App Gallery</h2>
          <p class="separator">Some amazing tools that you will use once you start .</p>
        </div>

        <div class="screens-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="/img/screen/1.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/img/screen/2.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/img/screen/3.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/img/screen/4.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/img/screen/5.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/img/screen/6.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/img/screen/7.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="/img/screen/8.png" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

    </section><!-- End Screenshots Section -->



    <!-- ======= Team Section ======= -->
    <section id="team" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

          <h2>Team Member</h2>
          <p class="separator">List of active members who really contributed to this project .</p>
        </div>
        <center>

          <div class="row">
            <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">

            </div>

            <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
              <div class="team-block bottom">
                <img src="/img/team/1.jpg" class="img-responsive" alt="img">
                <div class="team-content">
                  <ul class="list-unstyled">

                    <li><a target=”_blank” href="https://www.linkedin.com/in/tayeb-lagha-407b46155/?locale=en_US"><i
                          class="bi bi-linkedin" style="font-size: 2em;"></i></a></li>
                  </ul>
                  <span> Engineering Student</span>
                  <h4>Tayeb Lagha</h4>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="200">
              <div class="team-block bottom">
                <img src="/img/team/2.jpg" class="img-responsive" alt="img">
                <div class="team-content">
                  <ul class="list-unstyled">

                    <li><a target=”_blank” href="https://tn.linkedin.com/in/el-bedoui-mouoifek-1227174b"><i
                          class="bi bi-linkedin" style="font-size: 2em;"></i></a></li>
                  </ul>
                  <span>Development Engineer</span>
                  <h4>Mouafak Bedoui</h4>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">

            </div>



          </div>
        </center>
      </div>
    </section><!-- End Team Section -->







    <!-- ======= Newsletter Section ======= -->
    <section id="newsletter" class="newsletter text-center">
      <div class="overlay padd-section">
        <div class="container" data-aos="zoom-in">

          <div class="row justify-content-center">
            <div class="col-md-9 col-lg-6">
              <form class="d-flex" method="POST" action="#">
                <input type="email" class="form-control " placeholder="Email Adress" name="email">
                <button type="submit" class="btn btn-default"><i class="bi bi-location-arrow"></i>Subscribe</button>
              </form>
            </div>
          </div>

          <ul class="list-unstyled">
            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
            <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
          </ul>

        </div>
      </div>
    </section><!-- End Newsletter Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="padd-section">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
          <h2>Contact</h2>
          <p class="separator">Feel free to send send us emails or visit us at our local address </p>
        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-3 col-md-4">

            <div class="info">
              <div>
                <i class="bi bi-geo-alt"></i>
                <p>Regional Directorate GCT<br> Av. Farhat Hachad , Gabès</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <p>cpg.gafsa@cpg.com.tn</p>
              </div>

              <div>
                <i class="bi bi-phone"></i>
                <p>+216 75 275 240</p>
              </div>
            </div>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>


        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-lg-4">
          <div class="footer-logo">

            <a class="navbar-brand" href="#">DigiSign</a>
            <p>Smooth and advanced Digital Signature Web application. signing pdf will be easier with DigiSign</p>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>About Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>About Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>Support</h4>

            <ul class="list-unstyled">
              <li><a href="#">faq</a></li>
              <li><a href="#">Editor help</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="list-menu">

            <h4>About Us</h4>

            <ul class="list-unstyled">
              <li><a href="#">About us</a></li>
              <li><a href="#">Features item</a></li>
              <li><a href="#">Live streaming</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>

          </div>
        </div>

      </div>
    </div>

    <div class="copyrights">
      <div class="container">
        <p>&copy; Copyrights DigiSign. All rights reserved.</p>
        <div class="credits">
          <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
        -->
          Designed by <a href="https://tn.linkedin.com/in/tayeb-lagha-407b46155">Tayeb Lagha</a>
        </div>
      </div>
    </div>

  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js">     </script>

</body>

</html>