<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Pdf Application</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/signstyle.css">
</head>

<body>

  <div class="login-box">
    <a href="/"><img src="/css/back.png" height="35" width="35"> </a>
    <h2>PDF Sign</h2>
    <form action="/signed-pdf" method="POST" id="sign-form">
      <div class="user-box">
        <textarea id="message" type="text" name="privateKey" value="" required=""> </textarea>
        <label>Enter your Private Key <i class="fa fa-key" aria-hidden="true"></i>
        </label>
      </div>

      <a href="javascript:{}" onclick="document.getElementById('sign-form').submit();">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Sign PDF
      </a>
    </form>
  </div>
  </div>
  </main>
  <!-- /Main Site -->

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="/js/index.js"></script> -->
</body>

</html>